.project_container {
  height: auto;

  h2 {
    text-align: center;
    font-size: 4rem;
  }
  .buo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      margin-top: -160px;
      button {
        background-color: white;
        box-shadow: rgb(5, 5, 5) 0px 0px 0px 3px;

        cursor: pointer;
        width: 300px;
        height: 40px;
        margin-top: 120px;
        margin-bottom: 100px;

        border: none;
        font-size: 1.5rem;
      }
    }
  }
}
@media (max-width: 768px) {
  .project_container {
    .buo {
      a {
        margin-top: 10px;
        button {
          cursor: pointer;
          width: 200px;
          height: 40px;
          background-color: white;

          border: none;
          font-size: 1rem;
        }
      }
      margin-bottom: 40px;
    }
  }
}
